<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div fxLayoutGap="5px">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input formControlName="user" matInput placeholder="Enter username"/>
    </mat-form-field>
  </div>
  <div fxLayoutGap="5px">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput placeholder="Enter password"/>
    </mat-form-field>
  </div>
  <button mat-button type="submit">Log in</button>
</form>
