<mat-card class="card" [class.elevate]="hoverId === restaurant_input.id" (mouseover)="mouseOver(restaurant_input.id)" (mouseout)="mouseOut()">
  <mat-card-header>
    <mat-card-title>{{restaurant_input.name | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{restaurant_input.cuisine_type}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="restaurant_input.photograph" alt="Photo of {{restaurant_input.name}}">
  <mat-card-content>
    <p>{{restaurant_input.neighborhood}}</p>
    <p>{{restaurant_input.address}}</p>

    <p *ngIf="restaurant_input.reviews.length !== 0; else noReviews">
      This restaurant_inputs has {{restaurant_input.reviews.length}} reviews
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">LIKE</button>
    <button mat-button color="warn">SHARE</button>
    <button mat-button color="accent" routerLink="/restaurants/{{restaurant_input.id}}">DETAIL</button>
  </mat-card-actions>
</mat-card>

<ng-template #noReviews>
  <p>No reviews yet!</p>
</ng-template>
